.nav-color{
  background-color: #05446e;
}
.btn-color{
  background-color: #016e2e;
  width: 30%;
  color: #000;
}
.btn-color:hover{
  color: #fff;
}
.form-search{
  margin-right: 5px;
  margin-top: 7px;
}

.banner-image{ padding-top: 75px;    
              padding-bottom: 50px; 
              text-align: center;     
              color: #f8f8f8; 
              background: url(img/intro-bg_2.jpg) no-repeat center ; 
              background-size: cover;
              background-attachment: fixed;
}
.banner-image-login{
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/login-bg.jpg);
background-size: cover;
background-repeat: no-repeat;

}
Edit in JSFiddle
Result
HTML
CSS
Resources
.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

    .footer-basic ul a:hover {
        opacity: 1;
    }

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

    .footer-basic .social > a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
    }

        .footer-basic .social > a:hover {
            opacity: 0.9;
        }

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */

.banner-content{
    position:relative; 
    padding-top: 6%; 
    padding-bottom: 6%; 
    margin-top: 12%; 
    margin-bottom: 12%; 
    background-color: rgba(202, 203, 204, 0.9); 
    color: #000;
    border-radius: 5px;
    max-width: 660px;
    overflow: hidden;
    
}

.thumbnail img{
    max-height: 150px; 
}
main {
    min-height: 100vh;
}

footer{
    padding: 10px 0; 
    background-color: #101010; 
    color:#9d9d9d; 
    bottom: 0; 
    width: 100%; }
.row_style{margin-top: 70px;
}
 h2{font-weight: bolder; 
 }
 .jumbotron_style{margin-top: 70px;
 }
 .table_style{margin-top: 70px;
 }
  h4{font-weight: bolder;
  }
 .container_style{margin-top: 80px;
 }

 .add-to-cart {
    margin: 0;
    background-color: #337ab7;
    color: #ffffff;
    border: 1px solid cyan;
    border-radius: 4px;
    outline: none;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
 }
 .padding-20 {
     padding: 20px;
 }

.offer{
  color: #1c73ff;
  font-size: 20px;
}      
.product-heading{
  position: relative; 
  top: -30px; 
  left: -35px;
  font-family: serif;

}  
.product-male{
  position: relative; 
  top: -57px; 
  left: 18px;
  background-color: #bbbfbc;
  border-radius: 5px; 
  font-weight: bold;
}
.product-female{
  position: relative;
  top: -56px;
  left: 20px;
  background-color: #bbbfbc;
  border-radius: 5px;
  font-weight: bold;
}

.product-menu ul{
  list-style: none;
  background-color: #05446e;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.product-menu li{
  display: inline-block;
}
.product-menu a{
  text-decoration: none;
  color: #fff;
  width: 100px; 
  padding: 5px;
  font-size: 17px;
  font-family: Helvetica;
  
}
.product-menu a:hover{
  text-decoration: underline;
}
.search{
   padding-top: 10rem;
   margin-right: 0;
   margin-left: 0;
   height: 77vh;
} 
.search p{
  font-size:  20px;
}